
@{
    ViewBag.Title = "Panel de administración interna";
}

<h2>Panel de administración</h2>

<div class="list-group">
    <a href="/Superadmin/ListarUsuario" class="list-group-item list-group-item-action">
        Gestión de roles
    </a>
</div>

