@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-color: #f8f8ff;
    }
</style>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
