@{
    ViewBag.Title = "Home Page";
}

<style>
    body{
        background-image: url('../../Content/img/fondo.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="p-5 m-1 mt-2 mt-md-5 row card fondo inicioMarco">
    <div class="col-12 row mb-4">
        <img class="col-12 col-md-6" src="../../Content/img/UruguayBus_logo.png" alt="LogoUrubuayBus" />
        <h2 class="col-12 col-md-6 m-auto text-center">Bienvenido a UruguayBus</h2>
    </div>
    <p class="col-12 m-auto text-center lead">UruguayBus une las ciudades más importantes de los departamentos de Montevideo, Florida, San José y Canelones, mediante una red de más de 250 servicios diarios. El fin sin duda es transportar con confianza, seguridad y tranquilidad a nuestros pasajeros, con la colaboración de un grupo humano con alta vocación de servicio.</p>
</div>
