@{
    ViewBag.Title = "Home Page";
}

<style>
    body{
        background-image: url('../../Content/img/fondo.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="p-0 p-md-3 p-lg-5 m-1 mt-4 mt-md-5 row card fondo inicioMarco">
    <div class="row my-2">
        <div class="col-12 col-md-6 my-auto">
            <img  src="../../Content/img/UruguayBus_logo.png" alt="LogoUrubuayBus" width="100%" />
        </div>
        <div class="col-12 col-md-6 my-auto">
            <h2 class="m-auto text-center">Bienvenido a UruguayBus</h2>
        </div>
    </div>
    <div class="col-12 my-2">
        <p class="m-auto text-center lead">UruguayBus une las ciudades más importantes de los departamentos de Montevideo, Florida, San José y Canelones, mediante una red de más de 250 servicios diarios. El fin sin duda es transportar con confianza, seguridad y tranquilidad a nuestros pasajeros, con la colaboración de un grupo humano con alta vocación de servicio.</p>
    </div>
</div>
