
@{
    ViewBag.Title = "Index";
}

<h2>Panel de administración</h2>

<div class="list-group">
    <a href="/Admin/ListarVehiculos" class="list-group-item list-group-item-action">
        Gestión de vehículos
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Gestión de paradas
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Gestión de lineas
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Gestión de horarios
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Gestión de viajes
    </a>
</div>

