<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISL_Soap" />
                <binding name="BasicHttpsBinding_ISL_Soap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
			<!-- Para consumir SOAP en localhost -->
			<endpoint address="http://localhost:52171/SL_Soap.svc"
				binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding_ISL_Soap"
				contract="ServiceSOAP.ISL_Soap"
				name="BasicHttpBinding_ISL_Soap" />

			<!-- Para consumir SOAP en Azure -->
			<!--<endpoint address="https://jotajota96-uruguaybus-soap.azurewebsites.net/SL_Soap.svc"
                binding="basicHttpBinding" 
				bindingConfiguration="BasicHttpsBinding_ISL_Soap"
                contract="ServiceSOAP.ISL_Soap" 
				name="BasicHttpsBinding_ISL_Soap" />-->
        </client>
    </system.serviceModel>
</configuration>