
@{
    ViewBag.Title = "Panel de usuario";
}

<h2>Panel de usuario</h2>

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        Opcion 1
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Opcion 2
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Opcion 3
    </a>
</div>


