
@{
    ViewBag.Title = "Panel de usuario";
}

<h2>Panel de usuario</h2>

<div class="list-group">
    <a href="ComprarPasaje" class="list-group-item list-group-item-action">
        Comprar pasaje
    </a>
    <a href="ProximoVehiculo" class="list-group-item list-group-item-action">
        Proximos vehiculos
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Opcion 3
    </a>
</div>


