
@{
    ViewBag.Title = "Panel de conductor";
}

<h2>Panel de conductor</h2>

<div class="list-group">
    <a href="/Conductor/TomarIdPasaje" class="list-group-item list-group-item-action">
        Validar Pasaje
    </a>
</div>


