
@{
    ViewBag.Title = "Panel de conductor";
}

<h2>Panel de conductor</h2>

<div class="list-group">
    <a href="Conductor/IniciarViaje" class="list-group-item list-group-item-action">
        Iniciar viaje
    </a>

    <a href="Conductor/PasoPorParada" class="list-group-item list-group-item-action">
        Paso por parada
    </a>
</div>


