
@{
    ViewBag.Title = "Mis roles";

    Share.Entities.Usuario u = Session["datosLogeados"] as Share.Entities.Usuario;
    bool rolConductor, rolAdmin, rolSuperadmin;
    rolConductor = rolAdmin = rolSuperadmin = false;

    if (u != null)
    {
        List<Share.Enums.Rol> roles = u.persona.GetRoles();
        rolConductor = roles.Contains(Share.Enums.Rol.CONDUCTOR);
        rolAdmin = roles.Contains(Share.Enums.Rol.ADMIN);
        rolSuperadmin = roles.Contains(Share.Enums.Rol.SUPERADMIN);
    }
}

<h2 class="mt-3">Mis roles</h2>

<h3 class="mt-3">Panel de usuario</h3>
<hr />
<div class="list-group">
    @if (u == null)
    {
        <span class="text-danger">No se ha iniciado sesión</span>
    }
    else
    {
        <a href="Usuario" class="list-group-item list-group-item-action">
            Seccion de usuario
        </a>
        if (rolConductor)
        {
            <a href="Conductor" class="list-group-item list-group-item-action">
                Panel de conductor
            </a>
        }
        if (rolAdmin)
        {
            <a href="Admin" class="list-group-item list-group-item-action">
                Panel de administrador
            </a>
        }
        if (rolSuperadmin)
        {
            <a href="Superadmin" class="list-group-item list-group-item-action">
                Panel de super administrador
            </a>
        }
    }
</div>

